@charset "utf-8";
/* importando fontes do google fonts para a CSS */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    background-image: linear-gradient(130deg, rgb(175, 174, 174), rgb(129, 129, 129), rgb(95, 95, 95));
    background-attachment: fixed;
}
/* Aplicando a fonte nos parágrafos */
p {
    font-family: 'Dancing Script';
    font-size: 1.3em;
}
/* Aplicando a fonte nos títulos */
h1 {
    font-family: 'Lobster';
}
