@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 700px;
}

caption {
    background-color: #6e6e6e;
    color: #ffffff;
    padding: 10px;
    font-weight: bolder;
}

thead {
    background-color: #6e6e6e;
    color: #ffffff;
}

tr, th, td {
    border: 1px solid #000000;
    padding: 10px;
    font-weight: bold;
}

.medias {
    background-color: #6e6e6e;
    color: #ffffff;
    text-align: left;
}

.notas {
    text-align: right;
}