@charset "UTF-8";
@font-face {
    font-family: "android";
    src: url(../fonts/idroid.otf);
}
/* Declarando variáveis de cores e fontes */
:root {
    --cor1: #BFDBA2;
    --cor2: #9EDB61;
    --cor3: #8CA178;
    --cor4: #678E3F;
    --cor5: #425B28;
    --background: #ffffff2a;

    --fonte-artigo: 'android', Helvetica, sans-serif;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    padding: 15px;
}

header {
    min-width: 260px;
    max-width: 850px;
    margin: auto;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
}

header > h1 {
    margin-top: 5px;
    text-align: center;
    color: var(--cor5);
    text-shadow: 2px 2px 2px #00000041;
}

header > h2 {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: var(--cor5);
}

nav {
    min-width: 260px;
    max-width: 450px;
    margin-top: 40px;
}

nav > a {
    text-decoration: none;
    background-color: #8CA178;
    color: var(--cor5);
    font-weight: bold;
    border-radius: 5px 5px;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor5);
    color: #BFDBA2;
    transition: 0.3s;
}

section {
    min-width: 260px;
    max-width: 850px;
    margin: auto;
    margin-top: 8px;
    padding: 20px;
    background-color: var(--background);
    border-radius: 10px;
}

section > h2 {
    background-image: linear-gradient(to right, #8CA178, transparent);
    font-family: var(--fonte-artigo);
    margin: 0px;
    color: var(--cor5);
    text-shadow: 2px 2px 2px #00000041;
    text-indent: 5px;
}

section > p {
    text-align: justify;
    text-indent: 30px;
    font-style: italic;
    color: #1c2510;
    line-height: 1.7em; /* Espaçamento entre linhas */
}

.imagens {
    width: 100%;
}

.droid {
    max-width: 400px;
    display: block;
    margin: auto;
}

section > ul {
    color: #1c2510;
    font-style: italic;
    list-style-type: none;
}

footer {
    min-width: 260px;
    max-width: 850px;
    margin: auto;
    margin-top: 8px;
    padding: 20px;
    text-align: center;
    color: #1c2510;
    background-color: var(--background);
    border-radius: 10px;
}