@charset "UTF-8";

div.bloco {
    border: 1px solid black;
    border-radius: 20px;
    height: 140px;
    margin: 10px;
    background-image: url("../imagens/wallpaper003.jpg");
}
/* Aplicando posicionamento nos backgrounds */
div#q1 {
    background-position: left top;
}

div#q2 {
    background-position: left center;
}

div#q3 {
    background-position: right bottom;
}

div#q4 {
    background-position: center center;
}